.card {
  position: relative;

  display: block;
  height: 178px;

  border-radius: 30px;
  overflow: hidden;

  color: var(--font-color-special);
  text-decoration: unset;
}

.title {
  font-size: 24px;
}

.description {
  margin-top: 12px;

  font-size: 16px;
}

.footer {
  display: flex;
  gap: 8px;

  margin-top: auto;
}

.coinWrapper {
  display: flex;
  align-items: center;
  gap: 14px;

  padding: 4px 6px;
  border-radius: 100px;

  background-color: rgba(30, 31, 36, 0.6);

  .coinValue {
    margin-left: 14px;
  }

  .coinCircle {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 28px;
    width: 28px;
    border-radius: 50%;

    background-color: var(--bg-color-white);
  }
}

.progress {
  position: absolute;
  top: -6px;
  right: -6px;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 36px;
  min-width: 36px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 100px;

  background-color: rgba(30, 31, 36, 0.6);
}
