.registrationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  border-radius: 8px;
  color: #ffffff;
  text-align: center;

  * {
    width: 100%;
  }
}

.subtitle {
  margin-top: 4px;
}

.topStrip {
  width: 100%;
  height: 32px;
  background-color: #0153f4; /* Цвет полоски */
  margin-bottom: 16px; /* Расстояние от полоски до заголовка */
}

.registrationForm h2 {
  font-size: 1rem;
  color: #ffffff;
  margin-top: 20px; /* Убираем лишний отступ сверху */
}

.registrationForm p {
  font-size: 0.8rem;
  color: #636672;
  text-align: center;
  margin-bottom: 20px;
}

.registrationForm input {
  width: 100%;
  padding: 0.75rem 1rem; /* Добавляем отступ внутри input и button */
  border: none;
  border-radius: 25px;
  background-color: #303239;
  color: #ffffff;
  outline: none;
  transition: background-color 0.3s;
  margin-bottom: 12px;
  box-sizing: border-box; /* Включаем padding в общую ширину */
}

.registrationForm button {
  width: 100%;
  height: 40px;
  margin-bottom: 12px;
  margin-top: 8px;
}

.registrationForm input:last-child {
  margin-bottom: 0;
}

.registrationForm input::placeholder {
  color: #636672;
}

.registrationForm input:focus {
  background-color: #444;
}

.loginText {
  position: fixed;
  bottom: 48px;
}

.loginLink {
  margin-left: 8px;
}

.policyText,
.loginText {
  font-size: 0.75rem;
  color: #777;
  text-align: center;
}

.policyText {
  position: relative;
}

.policyText a,
.loginText a {
  color: #ffffff;
  text-decoration: none;
}

.policyText a:hover,
.loginText a:hover {
  text-decoration: underline;
}

/* Общая ошибка для всех полей */
.generalError {
  color: #ffffff;
  font-size: 0.8rem;
  margin-bottom: 15px; /* Отступ от других элементов */
  text-align: center;
}

.policyText {
  font-size: 0.6rem !important;
  color: #777;
  text-align: center;
  position: relative;
  margin-bottom: 32px;
  line-height: 0.7rem;
}

.policyText::after {
  content: "";
  position: absolute;
  bottom: -32px; /* Расстояние до нижней границы блока */
  left: 0;
  width: 100%;
  height: 0.01rem; /* Высота полосы */
  background-color: #303239; /* Цвет полосы */
}

.topStrip {
  width: 100%;
  height: 0.01rem; /* Высота полосы */
  background-color: #303239; /* Цвет полосы */
  margin-bottom: 16px; /* Расстояние от полоски до заголовка */
}
