:root {
  --card-bg-color: #eaeaea;
  --text-color: #f8f8f8;
  --highlight-color: #303239;
  --progress-color: #2a70f2;
  --hover-bg-color: #d4d4d4;
  --dark-blue: #0153f4;
}

.card {
  position: relative;
  height: 226px;
  padding: 24px;
  overflow: hidden;
  border-radius: 40px;
  background-color: var(--dark-blue);
  color: var(--text-color);
  z-index: 1;
  margin: 8px 0;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6 {
  margin-bottom: 16px;
  font-weight: 400;
}

.block_description_card h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 27px;
  margin: 0 0 12px 0;
  font-weight: 400;
}

.description {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.title {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.paragraph {
  padding: 0 0 16px 0;
  font-size: 90%;
}

.root {
  position: relative;
  width: 100%;
  height: 216px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 30px;
  overflow: hidden;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  padding: 24px;
}
.ellipse29 {
  position: absolute;
  left: 24.0006px;
  top: 116.9999px;
  width: 200.2514px;
  height: 210.1679px;
  overflow: visible;
  filter: blur(25px);
}
.icon {
  width: 100%;
  height: 100%;
}
.rectangle51 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 270px;
  border-radius: 30px;
  background-color: #303239;
}
.ellipse17 {
  position: absolute;
  left: -15px;
  top: 68px;
  width: 165px;
  height: 184px;
  overflow: visible;
  filter: blur(25px);
}
.icon2 {
  width: 100%;
  height: 100%;
}
.ellipse35 {
  position: absolute;
  left: 45.1517px;
  top: 165px;
  width: 168.8487px;
  height: 148.3559px;
  overflow: visible;
  filter: blur(25px);
}
.icon3 {
  width: 100%;
  height: 100%;
}
.ellipse41 {
  position: absolute;
  left: 131.1517px;
  top: 179px;
  width: 168.8487px;
  height: 148.3559px;
  overflow: visible;
  filter: blur(25px);
}
.icon4 {
  width: 100%;
  height: 100%;
}
.ellipse39 {
  position: absolute;
  left: 169.0003px;
  top: 189px;
  width: 168.8487px;
  height: 148.3559px;
  overflow: visible;
  filter: blur(25px);
}
.icon5 {
  width: 100%;
  height: 100%;
}
.ellipse31 {
  position: absolute;
  left: -40.003px;
  top: 83px;
  width: 244.003px;
  height: 238.2957px;
  overflow: visible;
  filter: blur(25px);
}
.icon6 {
  width: 100%;
  height: 100%;
}
.ellipse36 {
  position: absolute;
  left: 51px;
  top: 129px;
  width: 244.003px;
  height: 238.2957px;
  overflow: visible;
  filter: blur(25px);
}
.icon7 {
  width: 100%;
  height: 100%;
}
.ellipse33 {
  position: absolute;
  left: 75px;
  top: 153px;
  width: 97px;
  height: 137px;
  overflow: visible;
  filter: blur(15px);
}
.icon8 {
  width: 100%;
  height: 100%;
}
.ellipse37 {
  position: absolute;
  left: 26px;
  top: 129px;
  width: 97px;
  height: 137px;
  overflow: visible;
  filter: blur(15px);
}
.icon9 {
  width: 100%;
  height: 100%;
}
.ellipse38 {
  position: absolute;
  left: 38.3412px;
  top: 170px;
  width: 145.6588px;
  height: 109.6728px;
  overflow: visible;
  filter: blur(15px);
}
.icon10 {
  width: 100%;
  height: 100%;
}
.ellipse43 {
  position: absolute;
  left: 92.3412px;
  top: 189px;
  width: 145.6588px;
  height: 109.6728px;
  overflow: visible;
  filter: blur(15px);
}
.icon11 {
  width: 100%;
  height: 100%;
}
.ellipse42 {
  position: absolute;
  left: 134.3412px;
  top: 197px;
  width: 145.6588px;
  height: 109.6728px;
  overflow: visible;
  filter: blur(15px);
}
.icon12 {
  width: 100%;
  height: 100%;
}
.ellipse40 {
  position: absolute;
  left: -0.0801px;
  top: 64px;
  width: 136.0801px;
  height: 151.3265px;
  overflow: visible;
  filter: blur(25px);
}
.icon13 {
  width: 100%;
  height: 100%;
}
.unnamed {
  position: relative;
  color: #fdf6fc;
  line-height: 120%;
  font-weight: 500;
  height: min-content;
  flex-direction: column;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  font-weight: 400;
}

.unnamed2 {
  color: #f8f8f8;
  height: min-content;
  flex-direction: column;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: 1;
}

.ellipse22 {
  position: absolute;
  left: 24px;
  top: 116px;
  width: 123.9995px;
  height: 132.6348px;
  overflow: visible;
  filter: blur(20px);
}
.icon14 {
  width: 100%;
  height: 100%;
}
