* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  font-size: 20px;
}

body {
  --bg-color-primary: #1e1f24;
  --bg-color-secondary: #303239;
  --bg-color-special: #0153f4;
  --bg-color-white: #f8f8f8;

  --font-color-primary: #f8f8f8;
  --font-color-secondary: #f7f9fc;
  --font-color-special: #fdf6fc;
  --font-color-gray: #7c8089;

  --color-special: #2a70f2;
  --color-white: #fff5f7;
}
