.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 78px;
  box-sizing: border-box;
  padding: 20px;

  background-color: aquamarine;
}

.name {
  font-size: 1.3rem;
  font-weight: 500;
}

.coins {
  display: flex;
  align-items: center;

  font-size: 1.2rem;
  font-weight: 700;
  font-style: italic;
}

.iconCoins {
  width: 30px;
  height: 30px;
  margin-left: 4px;
}
