.header {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  padding: 8px 8px 14px;
  border-radius: 30px;

  background-color: var(--bg-color-secondary);
  color: var(--font-color-primary);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);

  .infoBlocksList {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-top: 12px;
  }
}

.header_scrolled {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 8px;

  .infoBlocksList {
    flex-direction: row;

    margin-top: 0;
  }
}

.leftCornerSlot {
  display: flex;
  align-items: center;

  .circle {
    width: 40px;
    height: 40px;
    border-radius: 999px;
  }

  .goBackButton {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    background-color: var(--bg-color-primary);

    svg {
      margin-left: -2px;
    }
  }

  .userImg {
    background-color: var(--bg-color-white);
  }

  .userName {
    margin-left: 12px;

    font-size: 0.8rem;
    font-weight: 400;
  }
}
