.progressWrapper {
  margin: 32px 20px 20px;
}

.progressTitle {
  color: var(--font-color-primary);
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 12px;
}

.progressDescription {
  margin-bottom: 32px;
}
